@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background: #1d1d1d;
}

header{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #fff;
    position: sticky;
    top: 0;
    background: #1d1d1d;
}

header a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

h1{
    margin: 1rem;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.photo img{
    max-width: 100%;
    max-height: 100%;
}

.photo p{
    text-align: center;
}

.mobile_icon{
    display: none;
}

#add_new_photo{
    position: fixed;
    align-items: center;
    z-index: 2;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(29, 29, 29, .5);
    display: none;
}

#add_new_photo.open{
    display: flex;
}

#add_new_photo div{
    width: 80%;
    border: 2px solid #1d1d1d;
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
}

#add_new_photo input{
    padding: .5rem;
    font-family: 'Motserrat', sans-serif;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#add_new_photo button{
    padding: .5rem;
    font-family: 'Motserrat', sans-serif;
}

#add_new_photo input.error{
    border-color: red;
}

#popup_photo{
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(29, 29, 29, .5);
}

#popup_photo.open{
    display: flex;
}

#popup_photo img{
    max-width: 90%;
    max-height: 90%;
}